.section_container{
    height: calc(-10.5rem + 100vh);
    margin-top: 1rem;
}

.tasks_container{
    height: 100%;
    display: flex;
    overflow-x: scroll;
    padding-right: 2rem;
    justify-content: space-between;
    gap: 2rem;
}

.task_column{
    border-radius: 15px;
    background: #EEF2F5;
    width: 400px;
    height: 97%;
    padding: 1.5rem;
    flex-shrink: 0;
    overflow-y: auto;
}

.task_column::-webkit-scrollbar{
    width: 10px;
}

.task_column::-webkit-scrollbar-thumb{
    background: #9CB7C5;
    border-radius: 20px;
}

.task_column::-webkit-scrollbar-track{
    background: #D6EAF4;
    margin: 2.5rem;
}

.block_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block_top_right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.collapse_icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
}

.plus_icon{
    width: 16px;
    height: 16px;
    cursor: pointer;
    opacity: 0.5;
}

.collapse_icon:hover, .plus_icon:hover{
    opacity: 1;
}

.tasks_container::-webkit-scrollbar{
    height: 12px;
}

.tasks_container::-webkit-scrollbar-thumb{
    background: #9CB7C5;
    border-radius: 20px;
}